h1, h2, h3, h4, h5, h6, p, em,span{
    font-family: 'Kanit', sans-serif;
}

h1{
    color: #E76F51;
    text-align: center;
}
h2{
    color: #264653;
}
h3{
    color: #2d9a8f;
}
.header{
    background-color: #ccf1f1;
    height: 150px;
}
.navBar{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #66635d;
    height: 60px;
    width: 100%;
}
.menu{
    font-family: 'Kanit', sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 18px;
}
.current{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding: 18px;
    color:#f4cbcc;
}
.con{
    padding-top:20px;
    background-color: #fcfaef;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
.subcon{
    display: grid;
    grid-template-columns: 50% 50%;
}
.friendInfo1{
    border-radius: 25px;
    padding-left:30px;
    padding-right:30px;
    background-color: #eca3a6;
    margin: 20px;
    color:#66635d;
}
.friendInfo2{
    border-radius: 25px;
    padding-left:30px;
    padding-right:30px;
    background-color: #fce477;
    margin: 20px;
    color:#66635d;
}
.friendInfo3{
    border-radius: 25px;
    padding-left:30px;
    padding-right:30px;
    background-color: #ccf1f1;
    margin: 20px;
    color:#66635d;
}
